
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/css/admin/applications.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <body style="background-color: slategrey">

    <h1 class="navbar-default">test</h1>

    {% for app in array %}
        <li>{{ app.id }} {{ app.name }}</li>
    {% endfor %}

    </body>

{% endblock %}