{% extends 'base.html.twig' %}

{% block body %}

    <!--msb: main sidebar-->
    <div class="msb"  id="msb">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Brand -->
                    <div class="brand-name-wrapper" style="padding: 6px">
                        <a class="navbar-brand" href="#">
                            &nbsp;&nbsp;ᴀᴘᴘʟɪᴄᴀᴛɪᴏɴꜱ
                        </a>
                    </div>

                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a href="/applications"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active"><a href="#"><i class="fa fa-puzzle-piece"></i> Applications</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div></div>

{% endblock %}